<footer class="footer", style="background-color:#000022; height:83px; line-height: 83px;">
      <p class="text-center", style="color:white;" >
        ©2021 撮り鉄情報館 All Rights Reserved.
      </p>
</footer>